#root {
  /* max-width: 1280px; */
  margin: 0 0;
  text-align: center;
  width: max(350px, 100%);
}
html,
body {
  margin: 0;
}

header,
main,
footer {
  width: 100%;
}
.main {
  /* display: grid;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "navBarContainer navBarContainer navBarContainer"
    "body body body"
    "footer footer footer"; */
  display: flex;
  flex-wrap: wrap;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: white;
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navBarContainer {
  /* grid-area: navBarContainer; */
  padding: 3px 2px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 3px solid black;
}

.logoContainer {
  width: 30%;
}
.menuContainer {
  width: 65%;
}

.loginContainer {
  width: 100%;
  height: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". userLogin cartContainer";
}

.homeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.userLogin {
  grid-area: userLogin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartContainer {
  grid-area: cartContainer;
}

.loginBtn:hover {
  font-weight: bold;
}

.logoutContainer {
  padding-left: 6px;
}

.logoutContainer > button {
  background-color: transparent;
  border: none;
}

button:hover {
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 8px;
}

.userSignInContainer {
  display: flex;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

.storeNavigation {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "navigateBtns extraShopContainer";
}

.navigateBtns {
  grid-area: navigateBtns;
  width: 100%;
}

.extraShopContainer {
  grid-area: extraShopContainer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.searchBarContainer {
  padding: 10px 15px;
}

.searchBar {
  border-radius: 6px;
  border: transparent;
  padding: 8px 20px;
  background-color: #f5f5f5;
  color: black;
  font-size: large;
}

.buttons {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  margin-top: 15px;
}

.content-body {
  grid-area: body;
  display: flex;
  place-content: center;
  text-align: center;
}

/* form style */
.formItem {
  display: flex;
  justify-content: center;
  padding: 8px 10px;
}

label {
  flex-basis: 100px;
}

.passwordView {
  border: 1px solid gray;
  background-color: gray;
  margin-left: 4px;
  padding: 2px 4px;
}

.footer {
  grid-area: footer;
}

.previewProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  max-width: 100%;
  height: 400px;
}

.previewImg,
.productImgItem {
  width: auto;
  margin: 0px 5px;
}

.productImgItem {
  height: 300px;
}

.previewImg {
  height: 300px;
}

.previewProductImg,
.productImg {
  padding: 30px;
  height: max(200px, 100%);
  width: auto;
}

.title {
  font-size: 50px;
}

.message {
  border: 5px solid transparent;
  margin-top: 8px;
  font-size: 50px;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
  width: min(50%, 1280px);
}

.productsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/* .productContainer {
  width: min(50%, 1000px);
} */

.productImgItem {
  padding: 50px;
}

.productsList {
  width: 100%;
}

/* .filterMenu {
  border: 2px solid black;
} */

.filterContainer > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.filterContainer > ul > li > a {
  text-decoration: none;
}

.productInfoContainer {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-left: 10%;
}

.productDescription {
  text-align: center;
  padding: 30px 0px;
}

.productCostInfo {
  margin-top: 150px;
}

.priceContainer {
  display: flex;
  justify-content: center;
}

.itemPrice {
  border: 2px solid black;
  border-radius: 5px;
  width: fit-content;
}

.product-Img {
  height: 500px;
}

/* footer styles */
footer {
  display: flex;
  justify-content: space-evenly;
}

/* Cart */
.cartContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.items > li {
  text-decoration: none;
}
