#root {
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}
.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "navBarContainer navBarContainer navBarContainer"
    "body body body"
    "footer footer footer";
}

.navBarContainer {
  grid-area: navBarContainer;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid;
}

.logoContainer {
  width: 30%;
}
.menuContainer {
  width: 65%;
  padding: 20;
}

.loginContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: ". userLogin";
}

.userLogin {
  grid-area: userLogin;
  padding-right: 22px;
}

.storeNavigation {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "navigateBtns extraShopContainer";
}

.navigateBtns {
  grid-area: navigateBtns;
  width: 100%;
}

.extraShopContainer {
  grid-area: extraShopContainer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.searchBarContainer {
  padding: 10px 15px;
}

.searchBar {
  border-radius: 6px;
  border: transparent;
  padding: 8px 20px;
  background-color: #f5f5f5;
  font-size: large;
}

.buttons {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
  padding: 8px 10px;
}

a:hover {
  background-color: #f5f5f5;
  border-radius: 6px;
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}
