h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p,
ul,
ol,
li {
  font-family: "Roboto", sans-serif;
}

.navBarContainer {
  background-color: #ff1d58;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: black;
  padding: 8px 10px;
}

a:hover {
  color: #0049b7;
  border-radius: 6px;
}

body {
  font-size: 18px;
  background-color: #ffffff;
  color: black;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

input {
  font-size: 24px;
  border-radius: 6px;
  border: 1px solid black;
  margin-top: 12px;
}

button {
  font-size: 24px;
  background-color: transparent;
  border: 2px solid #0049b7;
  background-color: #0049b7;
  border-radius: 8px;
}

button:hover {
  /* background-color: #87ceeb; */
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.shopCategory > a > h2:hover {
  background-color: #fff685;
  border-radius: 6px;
  height: fit-content;
}

footer {
  background-color: #00ddff;
  color: black;
}
